<ng-container *ngIf="(companies$ | async) as data; else notFound">
  <app-list-avatar [data]="data" [listAvatar]="listAvatar" (itemClickEmitter)="itemDetail($event)"></app-list-avatar>
</ng-container>
<ng-template #notFound>
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
    <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">explore_off
    </mat-icon>
    <p>Nenhum das suas empresas foram encontrados</p>
  </div>
</ng-template>