<ng-container *ngIf="!!data?.length; else listEmpty">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div class="list" fxFlex="99%" fxFlexAlign="start">
      <mat-list class="list-datas">
        <mat-list-item *ngFor="let item of data">
          <ngx-avatar matListAvatar [size]="listAvatar.iconSize ? listAvatar.iconSize : 42" [name]="item['name']">
          </ngx-avatar>
          <h3 matLine>{{ item['name'] }}</h3>
          <!-- <p matLine>
          <span> {{ item.email }} </span>
        </p> -->
          <mat-action-list fxLayout="row">
            <button mat-icon-button type="button" (click)="itemEditEvent(item.id)"
              aria-label="Example icon-button with a heart icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" color="warn" (click)="itemDeleteEvent(item.id)"
              aria-label="Example icon-button with a heart icon">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-action-list>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</ng-container>
<ng-template #listEmpty>
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
    <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">find_in_page
    </mat-icon>
    <p>Nenhum item encontrado</p>
  </div>
</ng-template>