<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <button mat-stroked-button color="primary" [routerLink]="['new']">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon>
    Novo
  </button>
</div>
<ng-container *ngIf="(apps$ | async) as data; else notFound">
  <app-list-avatar [data]="data" [listAvatar]="listAvatar" (itemClickEmitter)="itemDetail($event)"
    (itemEditEmitter)="itemEdit($event)" (itemDeleteEmitter)="itemDelete($event)"></app-list-avatar>
</ng-container>
<ng-template #notFound>
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
    <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">explore_off
    </mat-icon>
    <p>Ops... Parece que houve um erro ao encontrar os aplicativos</p>
  </div>
</ng-template>