<!-- <div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="99%" fxFlexAlign="start">
    <ng-container *ngIf="(apps$ | async) as apps; then notFound">
      <mat-nav-list>
        <mat-list-item *ngFor="let app of apps">
          <ngx-avatar matListAvatar size="42" [name]="app.name"></ngx-avatar>
          <h3 matLine>{{ app.name }}</h3>
          <p matLine>
            <span>Nome da Empresa</span>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </ng-container>
    <ng-template #notFound>
      <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
        <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">explore_off
        </mat-icon>
        <p style="color: grey;">Nenhum dos seus aplicativos foram encontrados</p>
      </div>
    </ng-template>
  </div>
</div> -->

<ng-container *ngIf="(apps$ | async) as data; else notFound">
  <app-list-avatar [data]="data" [listAvatar]="listAvatar" (itemClickEmitter)="itemDetail($event)"></app-list-avatar>
</ng-container>
<ng-template #notFound>
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
    <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">explore_off
    </mat-icon>
    <p>Nenhum dos seus aplicativos foram encontrados</p>
  </div>
</ng-template>