<!-- <app-layout-card>
  <form [formGroup]="loginForm">
      <div fxLayout="column" class="login-account">
        <mat-card-title>Entrar</mat-card-title>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-form-field class="example-form-field">
              <input matInput formControlName="login" type="text" placeholder="Email ou username" required min="3">
              <button mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <a href="#" class="link-forget">Esqueceu o nome do usuário</a>
          <div fxFlex fxFlexAlign="end">
            <button mat-flat-button color="primary">Próximo</button>
          </div>
        </div>
      </div>
      <div fxLayout="column" class="login-password" *ngIf="false">
        <div fxLayout="row" class="button-back">
          <button class="button-icon-back" mat-icon-button>
            <mat-icon aria-label="Back">arrow_back</mat-icon>
          </button>
          <div fxFlex fxFlexAlign="center">
            <p class="login-back">{{ loginForm.get("login").value }}</p>
          </div>
        </div>
        <mat-card-title>Inserir a senha</mat-card-title>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Senha" [type]="hidePassword ? 'password' : 'text'" required>
          <button mat-button (click)="hidePassword = !hidePassword" matSuffix mat-icon-button aria-label="password">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <a href="#" class="link-forget">Esqueci minha senha</a>
        <div fxFlex fxFlexAlign="end">
          <button mat-flat-button color="primary">Entrar</button>
        </div>
      </div>
  </form>
</app-layout-card> -->

<div fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    <h1>Fazer Login no Mimoto</h1>
    <a href="/signup">ou crie uma conta</a>
  </div>


  <div class="form-login" fxLayout="column">
    <form [formGroup]="loginForm" fxLayout="column">

      <label for="user">Endereço de E-mail <span class="grey">(Ou nome de usuario)</span></label>
      <input type="email" formControlName="login" name="user" id="user">

      <label for="pass">Senha</label>
      <input type="password" formControlName="password" name="pass" id="pass">

      <input type="submit" id="login" value="Fazer Login">

      <div id="google-link" class="google-button">
        <span class="icon-google"><img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" width="18px" height="18px"></span>
        <span>Fazer Login com o Google</span>
      </div>

      <a href="/recover">Esqueceu sua senha? </a>

    </form>
  </div>

</div>