body {
  background-color: white;
}

// Icon back

@mixin mat-icon-button-size($size: 40px) {
  width: $size;
  height: $size;
  line-height: $size;

  .mat-icon, .mat-icon-button i {
    line-height: $size/2;
  }

  .mat-icon {
    width: $size/2;
    height: $size/2;
    margin: 0;
  }

  .material-icons {
    font-size: $size/2;
  }
}

.button-icon-back {
  @include mat-icon-button-size(32px);
}

.login-back {
  font-size: 12px;
}

//header 

.header {
  margin-top: 30px;
}

.header h1 {
  font-size: 38px;
  margin-bottom: 5px;
  color: #333;
}

.header a {
  margin-top: 0;
  font-size: 18px;
}

.grey {
  color: hsl(0,0%,60%);
}


// Link

.link-forget {
  font-size: 12px;
  text-decoration: none;
  color: rgb(9, 199, 199);
  margin-bottom: 30x;
}

.link-create-account {
  font-size: 12px;
  text-decoration: none;
  color: #298FCA;
}

// form

.form-login {
  margin-top: 50px;
}

.form-login label {
  margin-bottom: 5px;
}

.form-login input {
  background: #EDEFF0;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #CDD2D4;
  margin-bottom: 20px;
}

.form-login #login {
  background-color: #61BD4F;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#google-link {
  background: white;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #CDD2D4;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.icon-google{
  margin-right: 15px;
  height: 40px;
}

.icon-google img{
  margin-bottom: -3px;
}

.form-login #loginGoogle {
  background-color: white; 
  font-size: 16px;
}