<!-- <div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="99%" fxFlexAlign="start">
    <ng-container *ngIf="(users$ | async) as users; else notFound">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/users', user.id]" *ngFor="let user of users">
          <ngx-avatar matListAvatar size="42" [name]="user.name"></ngx-avatar>
          <h3 matLine>{{ user['name'] }}</h3>
          <p matLine>
            <span> {{ user.email }} </span>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
    <ng-template #notFound>
      <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
        <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">explore_off
        </mat-icon>
        <p>Nenhum dos seus aplicativos foram encontrados</p>
      </div>
    </ng-template>
  </div>
</div> -->

<ng-container *ngIf="(users$ | async) as data; else notFound">
  <app-list-avatar [data]="data" [listAvatar]="listAvatar" (itemClickEmitter)="itemDetail($event)"></app-list-avatar>
</ng-container>
<ng-template #notFound>
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">
    <mat-icon style="font-size: 180px;height: 180px; line-height: 180px; width: 180px; color: grey;">explore_off
    </mat-icon>
    <p>Nenhum dos seus usuários foram encontrados</p>
  </div>
</ng-template>